@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap);

body,
html,
p,
ul {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    border-top: 3px solid #444444;
    background-color: #FAFBFD;
    padding: 20px 20px;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
}

.logo {
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.logo img {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0;
    color: #06385d;
    font-size: 3.4rem;
    line-height: 1.0;
    font-weight: bold;
}

p {
    padding: 2rem 1rem;
    color: #555555;
}

a.cta {
    background-color: #F3701D;
    padding: 15px 24px;
    font-size: 16px;
    border-radius: 4px;
    color: white;
}

#benefits {
    display: flex;
    margin: 50px auto 0;
    width: 80%;
}

#benefits div {
    width: 33%;
}

#benefits h2 {
    color: #444444;
    font-size: 1.3rem;
}

#benefits i {
    margin-right: 20px;
}

#benefits p {
    padding-top: 10px;
}

p.benefit:first-child {
}

@media (max-width: 950px) {
    #benefits {
        width: 80%;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 3.0rem;
    }

    form {
        width: 90%;
    }

    #benefits {
        display: block;
        width: 90%;
    }

    #benefits div {
        width: 100%;
    }
}
